{% extends 'base.html' %} {% block content %}

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <form method = "POST" action ={% url 'staff_add_lesson' %} enctype="multipart/form-data">
          {% csrf_token %}
          <div class="col-12">
            <h5 class="form-title">
              <span>Add Lesson</span>
            </h5>
          </div>

          {% if messages %}
          {% for message in messages %}
          {% if message.tags == 'error' %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
             {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}

          {% if messages %}
          {% for message in messages %}
          {% if message.tags == 'success' %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
             {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}

          <div class="col-sm-12">
            <label>Subject</label>
            <select class="form-control" name="subject_id" required>
              <option>Select Subject</option>
              {% for i in subjects %}
              <option value="{{i.id}}">{{i.name}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col-sm-12">
            <div class="form-group">
                <div class="form-group">
                    <label>Lesson Title</label>
                    <textarea  class="form-control" name="lesson_title" style="height:250px;" required></textarea>
                  </div>
          </div>
        </div>
          
        <div class="col-sm-12">
            <div class="form-group">
              <label>Lesson File</label>
              <input type="file" class="form-control" name="lesson_file" />
            </div>
          </div>

          <div class="col-sm-12">
            <div class="form-group">
              <label>Assignment File</label>
              <input type="file" class="form-control" name="assignment_file" />
            </div>
          </div>

          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">
              Add Lesson
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
