{% extends 'base.html' %}{% block content %}

<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="page-title">Staff</h3>
      <ul class="breadcrumb">
        <li class="breadcrumb-item active">Dashboard</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-3 col-sm-6 col-12 d-flex">
    <div class="card bg-one w-100">
      <div class="card-body">
        <div
          class="db-widgets d-flex justify-content-between align-items-center"
        >
          <div class="db-icon">
            <i class="fas fa-user-graduate"></i>
          </div>
          <div class="db-info">
            <h3>{{total_subject}}</h3>
            <h6>Total Subject</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12 d-flex">
    <div class="card bg-two w-100">
      <div class="card-body">
        <div
          class="db-widgets d-flex justify-content-between align-items-center"
        >
          <div class="db-icon">
            <i class="fas fa-chalkboard-teacher"></i>
          </div>
          <div class="db-info">
            <h3>{{total_students}}</h3>
            <h6>Total Student</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12 d-flex">
    <div class="card bg-three w-100">
      <div class="card-body">
        <div
          class="db-widgets d-flex justify-content-between align-items-center"
        >
          <div class="db-icon">
            <i class="fas fa-graduation-cap"></i>
          </div>
          <div class="db-info">
            <h3>{{total_lessons}}</h3>
            <h6>Total Lesson</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12 d-flex">
    <div class="card bg-four w-100">
      <div class="card-body">
        <div
          class="db-widgets d-flex justify-content-between align-items-center"
        >
          <div class="db-icon">
            <i class="fas fa-book"></i>
          </div>
          <div class="db-info">
            <h3>{{unread_notification_total}}</h3>
            <h6>Unread Notification</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Chart -->

<div class="row">
  <div class="col-md-12">
    <div class="card card-chart">
      <div class="card-header">
        <div class="row align-items-center"></div>
      </div>
      <div class="card-body">
        <div id="subject_students_chart"></div>
      </div>
    </div>
  </div>
</div>

<!-- Chart -->
{% include 'includes/chart_staff.html' %} {% endblock content %}
