<!DOCTYPE html>
<html>
  <head>
    <title>Attendance Report</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }

      h1 {
        text-align: center;
        margin-top: 50px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 30px;
      }

      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }

      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <h1>Attendance Report</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        {% for record in attendance %}
        <tr>
          <td>{{ record.student_id.admin.id }}</td>
          <td>
            {{ record.student_id.admin.first_name }}
            {{record.student_id.admin.last_name }}
          </td>
          <td>{{ record.student_id.admin.email }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
