<!-- chart_gradebook.html -->
<script>
  $(document).ready(function() {
    // Bar chart
    if ($('#subject_marks_chart').length > 0) {
      var optionsBar = {
        chart: {
          type: 'bar',
          height: 350,
          width: '100%',
          stacked: true,
          toolbar: {
            show: false
          },
        },
        dataLabels: {
          enabled: false
        },
        plotOptions: {
          bar: {
            columnWidth: '20%',
            distributed: true
          }
        },
        series: [{
          name: "Marks",
          color: '#19affb',
          data: {{ subject_marks|safe }},
        }],
        labels: {{ subject_names|safe }},
        xaxis: {
          labels: {
            show: true,
            style: {
              fontSize: '12px',
            },
          },
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false
          },
        },
        yaxis: {
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false
          },
          labels: {
            style: {
              colors: '#777'
            }
          }
        },
        title: {
          text: '{{ get_subject }}',
          align: 'center',
          style: {
            fontSize: '18px'
          }
        }
      }

      var chartBar = new ApexCharts(document.querySelector('#subject_marks_chart'), optionsBar);
      chartBar.render();
    }
  });
</script>
